@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>BSides Scotland Sponsors</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Sponsors</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: sponsors">
                    <li>
                        <strong><span data-bind="text: sponsorFirstName"></span></strong>: <span data-bind="text: sponsorLastName"></span>
                        <small><a href="#" data-bind="click: $parent.getSponsorDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>First Name</td><td data-bind="text: detail().sponsorFirstName"></td></tr>
                <tr><td>Surname</td><td data-bind="text: detail().sponsorLastName"></td></tr>
                <tr><td>Company Name</td><td data-bind="text: detail().sponsorCompanyName"></td></tr>
                <tr><td>Level</td><td data-bind="text: detail().sponsorLevel"></td></tr>
                <tr><td>Status</td><td data-bind="text: detail().sponsorStatus"></td></tr>
                <tr><td> </td><td><button data-bind="click: deleteSponsor(detail())" type="button" class="btn btn-primary">Delete</button></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
   
    <div class="col-md-8">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Add Sponsor</h2>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: addSponsor">


                        <div class="form-group" data-bind="with: newSponsor">

                            <label for="inputFirstName" class="col-md-4 control-label">First Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputFirstName" data-bind="value:sponsorFirstName" />
                            </div>

                            <label for="inputSurname" class="col-md-4 control-label">Surname</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputSurname" data-bind="value:sponsorLastName" />
                            </div>

                            <label for="inputCompanyName" class="col-md-4 control-label">Company Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputCompanyName" data-bind="value:sponsorCompanyName" />
                            </div>

                            <label for="inputLevel" class="col-md-4 control-label">Level</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputLevel" data-bind="value:sponsorLevel" />
                            </div>

                            <label for="inputStatus" class="col-md-4 control-label">Status</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputStatus" data-bind="value:sponsorStatus" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</div>

