@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>BSides Scotland Sponsors</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Sponsors</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: sponsors">
                    <li>
                        <strong><span data-bind="text: sponsorFirstName"></span></strong>: <span data-bind="text: sponsorLastName"></span>
                        <small><a href="#" data-bind="click: $parent.getSponsorDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>First Name</td><td data-bind="text: detail().sponsorFirstName"></td></tr>
                <tr><td>Surname</td><td data-bind="text: detail().sponsorLastName"></td></tr>
                <tr><td>Company Name</td><td data-bind="text: detail().sponsorCompanyName"></td></tr>
                <tr><td>Level</td><td data-bind="text: detail().sponsorLevel"></td></tr>
                <tr><td>Status</td><td data-bind="text: detail().sponsorStatus"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <div class="col-md-4">
        <!-- TODO: Add new sponsor -->
    </div>
</div>

